@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*GENERAL STYLING */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

img {
    height: auto;
    max-width: 100%;
}



/* FONT CLASS FOR TITLE, FOOTER ETC. */
.gugi-regular {
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* NAVIGATION STYLING */

nav {
    background-color: rgb(41, 41, 53);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    list-style-type: none;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

/* HEADER STYLING */

header {
    display: flex;
    justify-content: center;
}

header img {
    width: 60%
}